body {
  background-color: lightblue;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0%;
  padding: 20px;
}

h1 {
  color: antiquewhite;
}

p {
  text-align: center;
}

.btn {
  color: antiquewhite;
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}
* {
  box-sizing: border-box;
}

.container { 
  text-align: center;
}